.ball {
  width: 10px;
  height: 10px;
  background: #4d4e4e;
  position: absolute;
  offset-path: path(
    d=
      "M1,217.27H111.79c7.54,0,15.77-.86,23.26.41a29.13,29.13,0,0,1,18.71,45.78c-3.28,4.52-7.45,8.3-10.58,13-15.46,23-9.26,55,13.51,70.73s54.93,9.87,70.88-12.72a51.52,51.52,0,0,0,8.74-37.21c-1.87-12.3-8.08-22.36-17-30.75-19.1-18-26-47-19.06-72a73.64,73.64,0,1,1,139.27,47.2,73.21,73.21,0,0,1-10.05,17.53c-3.12,4.05-6.89,7.09-10.34,10.75a51.29,51.29,0,0,0-13.74,36.3c.75,27.57,24.16,50.11,51.73,49.81s50.65-23.51,50.65-51.19c0-14.14-5.88-25.48-14.79-36-8-9.44-12.76-20.4-8.16-32.75a29.51,29.51,0,0,1,27.35-18.93c2.2,0,4.41,0,6.62,0H538.07l28.82-.46c10.47-.17,21-.57,31.42-.5,23.91.14,38.11,28.4,22.92,47.32-6.92,8.62-13.75,16.13-16.67,27.17a51.2,51.2,0,1,0,100.55,9.57,50.78,50.78,0,0,0-14.24-32c-7.44-7.47-13.92-14.86-18.36-24.6a73.63,73.63,0,1,1,137.55-9.45c-3.35,11.26-9.54,22.36-18.07,30.54-7.61,7.3-13.54,14.89-16.42,25.3a51.2,51.2,0,0,0,90.7,43.89c14.64-20,12.18-47.17-4.13-65.32-7.23-8-12.31-17.07-10.41-28.3A29.37,29.37,0,0,1,875,216.72c7-1.33,14.87-.51,22-.51H1009.6"
  );
  offset-distance: 0%;
  animation: red-ball 2s linear forwards;
}
@keyframes red-ball {
  from {
    offset-distance: 0%;
  }
  to {
    offset-distance: 100%;
  }
}
